name: rspec
on:
  push:
    branches: '**'
jobs:
  test:
    name: Dispatcher Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.3
    - name: Install dependencies
      run: cd dispatcher && bundle install
    - name: Run tests
      run: cd dispatcher && bundle exec rake spec
